body {
    background-color: aliceblue;
    color: black;
}

@media screen and (max-width:280px) {
    .imagembeneficios {
        height: 50%;
    }
    .principal {
        font-size: 10px;
    }
    .titulo-principal {
        width: 1px;
        font-size: 10px
    }
}

.menu {
    display: inline;
    margin: 0 0 0 15px;
}

li img {
    left: 2em;
}

.beneficios li:hover {
    color: #ff0000;
    transition: 1s;
}

.itens {
    font-style: italic;
    padding-top: 5%;
    font-size: 25px;
}

nav {
    position: relative;
}

#banner {
    width: 100%;
}

.titulo-principal {
    font-size: 35px;
}

.container {
    position: absolute;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.374);
    text-align: center;
    border: 2px solid rgba(96, 31, 31, 0.987);
    border-radius: 15px;
    padding: 10px 10px 20px;
    width: 100%;
}

.principal {
    font-size: 25px;
    padding: 50px 25px 50px;
    border-radius: 10px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 25px 25px 25px;
}

p {
    text-align: center;
}

.missao {
    font-size: 20px;
}


/* Quando você precisa especificar */

em strong {
    color: #ff0000;
}

.beneficios {
    padding: 50px 50px 50px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.imagembeneficios {
    width: 25%;
    border-radius: 50%;
    position: relative;
    left: 40%;
}

footer {
    text-align: center;
    color: aliceblue;
    background-image: url(/Imgens-produtos/bg.jpg);
}